
.color1 {color: #f2b18d;}
.color2 {color: #f1c87d;}
.color3 {color: #122b54;}
.color4 {color: #12697a;}
.color5 {color: #1abbaa;}

body {
  background: #fffddd;
  color: #ff;
  padding: 0 30px;
  font-family: monospace;
  color: #fff67e;
  font-size: 15px;
  
}

h1 {
  font-family: Impact, fantasy;
  color: #1abbaa;
  font-size: 28px;
  
}

p {

}
