
.color1 {color: #f2b18d;}
.color2 {color: #f1c87d;}
.color3 {color: #122b54;}
.color4 {color: #12697a;}
.color5 {color: #1abbaa;}

body {
  background: #fffddd;
  color: #ff;
  padding: 0 30px;
  font-family: monospace;
  color: #12697a;
  font-size: 15px;

  background: #ffffff url("https://i.pinimg.com/564x/4c/b1/95/4cb1953d6802986ea314fa5488af7145.jpg") no-repeat top center;
  margin-bottom: 80px;
}

.text-title {
  font-family: Impact, fantasy;
  color: #fffddd;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
}

.blog-title {
  margin-bottom: 60px;
  padding: 20px;
  background-color: #12697a;
  color: #ffffff;
  filter: blur 10px;
}

.center-text {
  text-align: center;
}

