
.color1 {color: #f2b18d;}
.color2 {color: #f1c87d;}
.color3 {color: #122b54;}
.color4 {color: #12697a;}
.color5 {color: #1abbaa;}

body {
  background: #fffddd;
  color: #ff;
  padding: 0 30px;
  font-family: monospace;
  color: #1abbaa;
  font-size: 15px;

  background: #ffffff url("https://i.pinimg.com/564x/4c/b1/95/4cb1953d6802986ea314fa5488af7145.jpg") no-repeat top center;
  margin-bottom: 80px;
}
  

h1 {
  font-family: Impact, fantasy;
  color: #122b54;
  font-size: 28px;
  
.blog-nav {
  margin-bottom: 60px;
  padding: 20px;
  background-color: #fffddd;
  border: 5px solid #f1c87d;

  color: #ffffff;
}
